@tailwind base;
@tailwind components;
@tailwind utilities;
.home-main-wrapper{
    height: 100%;
    width: 100%;

}

.home-banner-container{
    background-color: black;
    height: 28rem;
}
.home-perks-wrapper{
    height: 8rem;

    margin-top: 2rem;
}

.home-perks-container{
    width: 60%;
}

.home-perk-item{

}

.home-perk-item-image-container{
    
}

.home-perk-item-image{
    max-width: 60%;
}

.home-perk-item-text-container{
    flex:2;
}

.home-perk-item-text-title{

}

.home-perk-item-text{
    color: #A8A8A8;
}


.home-featured-wrapper{
    height: 20rem;
    margin-top: 2rem;
}

.home-featured-container{
    width: 80%;
}

.home-featured-item{

}

.home-featured-item-one{
    background-color: #FFC481;
}

.home-featured-item-two{
    background-color: #81C4FF;
}

.home-featured-item-image-container{

}

.home-featured-item-image{
    max-height: 100%;
    padding: 1rem;
}

.home-featured-item-text-container{

}

.home-featured-item-inner-text-container{
    max-width: 60%;
}

.home-featured-item-text{
    color:white;
    letter-spacing: 2px;
}

