@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: 'Poppins', sans-serif; 
}
.shared-main-wrapper{
    height: 100%;
    width: 100%;
    
}
.shared-header{

}

.shared-logo-container{
    
    
}

.shared-logo{
    max-width: 115px;
}

.shared-nav-elements-container{
    flex:3;

}

.shared-header-icons{

}

.shared-icon-container{
    
}

